@import './variables';
// @import '~/noty/src/noty.scss';
// @import '~/noty/src/themes/mint.scss';
@import '../../node_modules/notie/src/notie';
body {
    font-family: 'Lata', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
}

section .hero {
    background: $secondary;
}

.size {
    background: $secondary;
}

.addtocart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btnhome {
    background-color: $primary;
    transition: $smooth;
    &:hover {
        color: $primary;
        background-color: $pure;
        border: 2px solid $primary;
    }
}

.cart {
    background: $secondary;
}

.amount {
    color: $primary;
}

.login {
    background-color: $secondary;
    // min-height: calc(100vh-86px) ;
    min-height: 88vh;
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.register {
    background-color: $secondary;
    // min-height: calc(100vh-86px) ;
    min-height: 88vh;
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.notie-container {
    width: 30%;
    margin: 10px 20px;
    border-radius: 10px;
}

.link {
    color: $primary;
    transition: $smooth;
    &:hover {
        color: $primary-hover;
        border-bottom: 2px solid $primary;
    }
}

section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);
}

.status-box {
    padding: 60px 0 0;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

//dots of status page (single order)
.status-box ul li span:after {
    content: '';
    position: absolute;
    background: $dark;
    width: 10px;
    height: 10px;
    left: -10px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%); //or height/2
    box-shadow: 0 0 1px 10px $secondary;
}

// icons 
.status-box ul li span:before {
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}

.status-box ul li {
    position: relative;
}

//line 
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

//last dot 
.status-box ul li:nth-child(5) span:after {
    box-shadow: 0 20px 1px 20px $secondary;
}

//line gray
.status-box ul li.step-completed:before {
    background: $gray;
}

//dot gray
.status-box ul li.step-completed span:after {
    background: $gray;
}

//icon will automatically become gray due to color:inherit property
//text gray
.status-box ul li.step-completed span {
    color: $gray;
}

//current status (orange status)
//text orange
.status-box ul li.current span {
    color: $primary;
}

//dot orange
.status-box ul li.current span:after {
    background: $primary;
}

.status-box ul li small {
    float: right;
    font-size: 18px;
    margin-top: 8px;
}

//404 page
.main-404 {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
}

.main-404 div {
    width: 100%;
    text-align: center;
}

.number {
    background: #fff;
    position: relative;
    font: 900 30vmin "Consolas";
    letter-spacing: 5vmin;
    text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
}

.number::before {
    background-color: #673ab7;
    background-image: radial-gradient(closest-side at 50% 50%, #ffc107 100%, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 50% 50%, #e91e63 100%, rgba(0, 0, 0, 0));
    background-repeat: repeat-x;
    background-size: 40vmin 40vmin;
    background-position: -100vmin 20vmin, 100vmin -25vmin;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    -webkit-animation: moving 10s linear infinite both;
    animation: moving 10s linear infinite both;
    display: block;
    position: absolute;
    content: "";
}

@-webkit-keyframes moving {
    to {
        background-position: 100vmin 20vmin, -100vmin -25vmin;
    }
}

@keyframes moving {
    to {
        background-position: 100vmin 20vmin, -100vmin -25vmin;
    }
}

.text {
    font: 400 5vmin "Courgette";
}

.text span {
    font-size: 10vmin;
}

@media(max-width:1060px) {
    //width<=1060px
    .container {
        max-width: 90%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width:768px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
}