@import './variables';
// @import '~/noty/src/noty.scss';
// @import '~/noty/src/themes/mint.scss';
@import '../../node_modules/notie/src/notie';

body{
    font-family: 'Lata',sans-serif;
    -webkit-font-smoothing : antialiased;
    color: $dark;
}

nav li:last-child a {
    background: $primary;

    &:hover{
        background: $primary-hover;
        }
}

nav li a{
    transition: $smooth;
    &:hover{
    color: $primary;
    }
}

section .hero{
    background: $secondary;
}

.size{
    background: $secondary;
}
.addtocart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus{
        outline: none;
    }
}

.btnhome{
    background-color: $primary;
    transition: $smooth;
    &:hover{
        color: $primary;
        background-color: $pure;
        border: 2px solid $primary;
    }
}

.cart{
    background: $secondary;
}

.amount{
    color: $primary;
}

.login{
    background-color: $secondary;
    // min-height: calc(100vh-86px) ;
    min-height: 88vh;
    a {
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}


.register{
    background-color: $secondary;
    // min-height: calc(100vh-86px) ;
    min-height: 88vh;
    a {
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

.notie-container{
    width: 30%;
    margin: 10px 20px;
    border-radius: 10px;
}

.link{
    color: $primary;
    transition: $smooth;
    &:hover{
        color: $primary-hover;
        border-bottom: 2px solid $primary;
    }
}